<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IT-Jobb </title>
    <link href="~/Content/lightbox.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ITJobb!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul id="nav" class="nav navbar-nav">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                            SQL <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Query Script", "Index", "Querys")</li>
                            <li>@Html.ActionLink("Stored Procedures", "Index", "SQLfragor")</li>                                                  
                        </ul>
                    </li>
                   
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                                        CRUD<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Användare", "Index", "Anvandares")</li>
                                        <li>@Html.ActionLink("PersonAnnons", "Index", "PersonAnnons")</li>
                                        <li>@Html.ActionLink("FöretagsAnnons", "Index", "ForetagsAnnons")</li>
                                        <li>@Html.ActionLink("Rekryterare", "Index", "Rekryterares")</li>
                                        <li>@Html.ActionLink("Ort", "Index", "Orts")</li>
                                        <li>@Html.ActionLink("Tag", "Index", "Tags")</li>
                                        <li>@Html.ActionLink("Målsida", "Index", "Malsidas")</li>
                                        <li>@Html.ActionLink("Yrkestitel", "Index", "YrkesTitels")</li>
                                    </ul>
                                </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - IT-Jobb</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/lightbox-2.6.js"></script>
</body>
</html>
