@model ITJobb.Models.ForetagsAnnons

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ForetagsAnnons</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ort.OrtNamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ort.OrtNamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yrkestitel.YrkesNamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yrkestitel.YrkesNamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnonsURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnonsURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Malsida.MalsidaNamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Malsida.MalsidaNamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rekryterare.ForetagsNamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rekryterare.ForetagsNamn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnnonsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
