@model ITJobb.Models.Malsida

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Malsida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MalsidaNamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MalsidaNamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MalsidaUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MalsidaUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MalsidaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
